[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "cromwellDashboard"]
	path = cromwellDashboard
	url = https://github.com/cran/cromwellDashboard
[submodule "seqminer"]
	path = seqminer
	url = https://github.com/zhanxw/seqminer
